@import "./variables.scss";
body {
  font-family: $basic-font;
}
button {
  @include standard-button;
}
a {
  color: $secondary-color;
}
h2,
h3 {
  font-family: $logo-font;
}
strong {
  color: $base-color * 2;
}
