$base-color: #082b57;
$secondary-color: #fff;
$base-font:'Lato', sans-serif;
$logo-font: 'Roboto Slab', serif;
$basic-font: 'Open Sans', sans-serif;
$standard-padding: .5rem 1rem;
$padding-double: 1rem 2rem;
$standard-margin: 1rem 2rem;
$standard-trans: .4s, background-position 0s;
@mixin flex-component {
    display: flex;
}
@mixin standard-button {
    padding: $standard-padding;
    color: $base-color;
    font-family: $base-font;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient($base-color 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: $standard-trans;
      &:hover {
        background-color: $base-color;
        --p: 100%;
        color: $secondary-color;
    }
}

.centeredFlex {
    justify-content: center;
    align-items: center;
}
