@import "../../generic/variables.scss";
@import "../../generic/general.scss";
.usersManager {
  padding: $padding-double;
  color: $base-color;
  text-align: center;
  ul {
    margin: $standard-margin;
    padding: $standard-padding;
    background-color: $base-color;
    color: $secondary-color;
    li {
      color: $base-color;
      background-color: $secondary-color;
      margin: 1rem auto;
      border-bottom: 1px solid $base-color;
      padding: $standard-padding;
      transition: $standard-trans;
      &:hover,
      &:focus {
        background: $base-color * 4;
        font-size: 102%;
        color: $secondary-color;
      }
    }
  }
  input {
    display: block;
    margin: 2rem auto;
    padding: $padding-double;
  }
  h3 {
    font-family: $logo-font;
    font-size: 1.5rem;
    color: $base-color;
    margin: $standard-margin;
    strong {
      font-weight: bold;
    }
  }
}
