@import '../src/generic/reset.scss';
@import '../src/generic/variables.scss';
@import '../src/generic/general.scss';
section {
  margin: 0 auto;
}
.container {
  width: 80%;
  margin: 0 auto;
  div {
    width: 100%;
    li {
      padding: .5rem 1rem;
      margin-bottom: .5rem;
      text-align: center;
    }
  }
}
div > span {
  text-align: right;
}