body {
  background-image: url('./images/artificial-intelligence-3382507_1280.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 100%;
  &:before {content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: -2;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
  @media screen and(min-width: 728px) {
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      justify-content: space-between;
    }
  }
  div {
    width: 100%;
    li {
      background-color: lightgray;
      padding: .5rem 1rem;
      margin-bottom: .5rem;
      text-align: center;
    }
  }
}
div > span {
  text-align: right;
}